#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 80vh;
}

/* progress bar */
progress {
  width: 100%;
  height: 5rem;
  margin: 1rem 0;
}

.progress-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.progress-percent {
  position: absolute;
  right: 0;
  margin: 70px 10px 0 0;
  font-weight: 700;
  margin-right: 10px;
  font-size: 1.1rem;
  color: #dc3545;
}
.progress-bar {
  position: absolute;
  top: 40%;
  font-weight: 500;
}

/* button */
.btn--wrap {
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 15px 20px rgba(0, 0, 0, 0.25);

  &:hover {
    border-radius: 3px;
  }
  &:active {
    transform: scale(0.9);
    transition: all 0.2s ease;
  }

  &.on {
    button {
      background-color: #f14668;
      transition: all 0.3s ease-in;
    }
    .btn__upload {
      border-radius: 3px 0 0 3px;
    }
    .btn__cancel {
      color: white;
      visibility: visible;
      display: flex;
    }
  }
}

.btn__upload {
  position: relative;
  display: inline-block;
  background-color: #3298dc;
  padding: 1rem 2rem;
  font-size: 1rem;
  letter-spacing: 1.5px;
  border-radius: 3px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;

  svg {
    margin-right: 0.8rem;
    color: white;
  }
}

.btn__cancel {
  background-color: #3298dc;
  color: #3298dc;
  border-radius: 0 3px 3px 0;
  display: none;
  align-items: center;
  cursor: pointer;
}

.btn__text {
  color: #ffffff;
}

.btn--loading .btn__text {
  visibility: hidden;
  opacity: 0;
}

.btn--loading .svg {
  visibility: hidden;
  opacity: 0;
}

.btn--loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

.result-wrap {
  width: 700px;
  background-color: lightgray;
  padding: 1rem;
  color: black;
  border-radius: 2px;
  text-align: left;
  font-weight: bold;
}

.btn__copy {
  text-align: right;
  span {
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: rgb(36, 41, 46);
    background-color: rgb(250, 251, 252);
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    padding: 5px 16px;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    border-color: rgba(27, 31, 35, 0.15);
  }
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin: auto;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #3298dc;
    font-weight: 700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #3298dc, #3298dc);
  border-image-slice: 1;
}
/* reset input */
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
